* {
    font-family: "Geist", sans-serif;
}


.color-gray{
    color: #64748B;
}
.color-primary{
    background-color: #4A00FF;
    color: white;
}
.text-primary{
    color: #4A00FF;
}

.color-green{
    background-color: #00A96E;
}


.orange{
    background-color: #FEECEC;
    color: #EF4444;
}

.yellow{
    color: #D97706;
    background-color: #FFF8DB;
}

.bug-color{
    border-radius: 50px;
    padding: 0px 6px;
    color: #EF4444;
    background-color: #FEECEC;
    border: 2px solid #FECACA;
}
.help-color{
    border-radius: 50px;
    padding: 0px 6px;
    color: #D97706;
    background-color: #FFF8DB;
    border: 2px solid #FDE68A;
}
.enhancement-color{
    border-radius: 50px;
    padding: 0px 6px;
    color: #00A96E;
    background-color: #DEFCE8;
    border: 2px solid #BBF7D0;
}


